{% extends 'medecin/baseMedecin.html.twig' %}
{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>CareConnect - Gestion des Rendez-vous</title>
    <meta name="description" content="Interface médecin pour la gestion des rendez-vous" />
    <link rel="icon" type="image/x-icon" href="{{ asset('../assets/img/favicon/favicon.ico') }}" />
    <link rel="preconnect" href="{{ asset('https://fonts.googleapis.com') }}" />
    <link rel="preconnect" href="{{ asset('https://fonts.gstatic.com') }}" crossorigin />
    <link href="{{ asset('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('../assets/vendor/fonts/boxicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('../assets/vendor/css/core.css') }}" />
    <link rel="stylesheet" href="{{ asset('../assets/vendor/css/theme-default.css') }}" />
    <link rel="stylesheet" href="{{ asset('../assets/css/demo.css') }}" />
    <link rel="stylesheet" href="{{ asset('../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
    <!-- Font Awesome CDN for better icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="{{ asset('../assets/vendor/js/helpers.js') }}"></script>
    <script src="{{ asset('../assets/js/config.js') }}"></script>
{% endblock %}

{% block content %}
    

      
            <div class="layout-wrapper layout-content-navbar" style=" margin-top: -750px;margin-left: -150px;">
                <div class="layout-container">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-xl" style="margin-left: 250px; margin-top: 750px; width: 500px;">
                                <div class="card mb-6">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0">Ajouter une formation</h5>
                                        <small class="text-body float-end">Remplissez les détails</small>
                                    </div>
                                    <div class="card-body">
                                        {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                                        <div class="mb-6">
                                            <label class="form-label" for="form.Nom">
                                                <i class="bx bx-book"></i>
                                                Nom de la formation
                                            </label>
                                            {{ form_row(form.Nom, {'attr': {'class': 'form-control' }}) }}
                                        </div>
                                        <div class="mb-6">
                                            <label class="form-label" for="form.Description">
                                                <i class="bx bx-detail"></i>
                                                Description
                                            </label>
                                            {{ form_row(form.Description, {'attr': {'class': 'form-control' }}) }}
                                        </div>
                                        <div class="mb-6">
                                            <label class="form-label" for="form.Type">
                                                <i class="bx bx-category"></i>
                                                Type
                                            </label>
                                            {{ form_row(form.Type, {'attr': {'class': 'form-control' }}) }}
                                        </div>
                                        <div class="mb-6">
                                            <label class="form-label" for="form.Date">
                                                <i class="bx bx-calendar"></i>
                                                Date
                                            </label>
                                            {{ form_row(form.Date, {'attr': {'class': 'form-control' }}) }}
                                        </div>
                                         <button class="btn btn-primary">
                                            {{ button_label|default('Sauvegarder') }}
                                        </button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
            <div class="layout-overlay layout-menu-toggle"></div>
      {% endblock %}      
{% block scripts %}
    <script src="{{ asset('../assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ asset('../assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('../assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ asset('../assets/vendor/js/menu.js') }}"></script>
    <script src="{{ asset('../assets/js/main.js') }}"></script>
{% endblock %}